<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h4>Routes</h4>
<ul>
  {{#each routes}}
    <li>
      {{!-- <a href="/route/{{this.route_id}}"> --}}
        {{this.route_short_name}} - {{this.route_long_name}}
      {{!-- </a> --}}
    </li>
  {{/each}}
</ul>
